.root {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(113 119 139);
}
#wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

#footer {
  width: 100%;
  text-align: center;
  height: 375px;
  margin-top: -375px;
}

.container {
  padding-top: 80px;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.brick {
  position: absolute;
  top: 20%;
  left: -13%;
  width: 435px;
  height: 210px;
  background-image: url('http://dmc.cads-dev.local/img/dmc/apps/404page/wall-1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.number {
  position: relative;
  z-index: 100;
  text-align: right;
}

.number .four {
  width: 230px;
  height: 292px;
  display: inline-block;
  background-image: url('http://dmc.cads-dev.local/img/dmc/apps/404page/four.png');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 19;
  position: relative;
}

.number .zero {
  width: 230px;
  height: 292px;
  display: inline-block;
  background-image: url('http://dmc.cads-dev.local/img/dmc/apps/404page/zero.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 20px;
  position: relative;
  z-index: 18;
  -moz-animation: 4s ease 0s normal none infinite zero;
  -moz-transform-origin: center top;
  -webkit-animation: zero 4s infinite ease-in-out;
  -webkit-transform-origin: top;
  -o-animation: 4s ease 0s normal none infinite zero;
  -o-transform-origin: center top;
  -o-animation: zero 4s infinite ease-in-out;
  -o-transform-origin: top;
  -ms-animation: 4s ease 0s normal none infinite zero;
  -ms-transform-origin: center top;
  -ms-animation: zero 4s infinite ease-in-out;
  -ms-transform-origin: top;
  animation: 4s ease 0s normal none infinite zero;
  transform-origin: center top;
  animation: zero 4s infinite ease-in-out;
  transform-origin: top;
}

.number .zero .nail {
  width: 30px;
  height: 50px;
  top: 6px;
  left: 115px;
  background-image: url('http://dmc.cads-dev.local/img/dmc/apps/404page/nail.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}

.info {
  margin-left: 460px;
  position: relative;
  z-index: 999;
}

.info h2 {
  font-size: 50px;
  font-weight: 300;
  color: #ffc938;
}

.info p {
  font-size: 20px;
  color: #ffffff;
}

.info a {
  cursor: pointer;
  text-decoration: none;
}

.btn {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  border: 0px solid;
  border-bottom: 1px solid;
  border-color: #12172e;
  padding: 10px 41px;
  border-radius: 10px;
  background: none;
  display: inline-block;
  margin: 10px 0;
  background-color: #00a9e1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  background-color: #00a9e1b0;
}

.worker {
  position: absolute;
  left: 0;
  top: 4px;
  width: 300px;
  height: 371px;
  background-size: 100%;
  background-image: url('http://dmc.cads-dev.local/img/dmc/apps/404page/worker.png');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.tools {
  position: absolute;
  right: 0;
  top: 176px;
  width: 730px;
  height: 199px;
  background-size: 100%;
  background-image: url('http://dmc.cads-dev.local/img/dmc/apps/404page/tools.png');
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@keyframes zero {
  0% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
